@import './Mixin.scss';

$color-grey-light: #f7f7f7;
// whole about section
.section-about{
    background-color: $color-grey-light;
}
// whole about section ends

.about-sec-block{
    display: flex;
}

.front-head{    
    font-family: 'Noto Serif Khojki', serif;
}

.back-head{
    font-family: 'Caveat', cursive;
    margin: 0 0 -3.2rem;
    font-size: 5.6rem;
    color: #c3073f88;
}

.about__text-sec{
    margin-bottom: 1rem;
}

// white buttons
.white-btn{
    background-color: rgb(230, 230, 230);
    border: 0;
    color: rgb(84, 84, 84);
    padding: .6rem 2rem;
    text-align: center;
    margin-right: 2.5rem; 
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    transition: all .3s;
    
    &:hover{
        color: rgb(84, 84, 84);
        box-shadow: 0 1rem 2rem rgba(black, .15);
        transform: translateY(-.2rem);
            text-decoration: none;
    }
}
// white button ends

// text button
.text-btn{
    cursor : pointer;
    font-size: 1.6rem;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #C3073F;
    padding: .3rem .8rem;
    transition: all .3s;
        color: #C3073F;
    

    &:hover{
        color: white;
        box-shadow: 0 1rem 2rem rgba(black, .15);
        transform: translateY(-.2rem);
            color: #C3073F;
            text-decoration: none;
    }
}
// text button ends

// about image section
.about-img{
    width: 94%;
    height: 91%;
}
// about image section ends

// @media only screen and (max-width: 600px){
    
// }

// @media only screen and (min-width: 600px){
    
// }

// @media only screen and (max-width: 768px){
//     .about-content {
//         flex-direction: column;
//       }
// }

// @media only screen and (min-width: 992px){
    
// }

// @media only screen and (min-width: 1200px){
    
// }
