@import './Mixin.scss';

.carousel-section{
    height: 60rem;
    // width: 99%;

    @include respond(tab-land){
        height: 56rem;
    }

    @include respond(tab-port){
        height: 47rem;
    }

    @include respond(phone){
        height: 22rem;
    }
}

// image div
.carousel__image{
    height: 60rem;
    width: 100%;
    position: absolute;
    // image inside div
    &__img{
        width: 100%;
        height:100%;
        // opacity: .5;
    }

    @include respond(tab-land){
        height: 56rem;
    }

    @include respond(tab-port){
        height: 47rem;
    }

    @include respond(phone){
        height: 22rem;
    }
}

// .black-overlay{
//     position: relative;
//     background-color: rgba(0, 0, 0, 0.596);
// }
// image div ends


// carousel controls & indicator
// .carousel-control-prev-icon{
//     height: 3rem;
//     width: 3rem;
// }
// .carousel-control-prev{
//     width: 34rem;
//     @include respond(phone){
//         width:auto;
//     }
// }

// .carousel-control-next-icon{
//     height: 3rem;
//     width: 3rem;
// }
// .carousel-control-next{
//     @include respond(phone){
//         width: 6rem;
//     }
// }




// carousel caption
// .carousel-caption{
//     position: absolute;
//     font-size: 1.9rem;
//   font-weight: 400;
//   font-family: 'Lato', sans-serif;
//   line-height: 1.7;
//     top : 0;
// }
// caption ends

// .carousel-text{
//     font-size: 1.9rem;
//     font-weight: 400;
//     font-family: 'Lato', sans-serif;
//     line-height: 1.7;
// }