.carousel-section {
  height: 60rem;
}
@media (max-width: 75em) {
  .carousel-section {
    height: 56rem;
  }
}
@media (max-width: 56.25em) {
  .carousel-section {
    height: 47rem;
  }
}
@media (max-width: 37.5em) {
  .carousel-section {
    height: 22rem;
  }
}

@media (max-width: 37.5em) {
  .carousel-inner {
    padding: 1.04rem 0;
  }
}

.carousel__image {
  height: 60rem;
  width: 100%;
}
.carousel__image__img {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 75em) {
  .carousel__image {
    height: 56rem;
  }
}
@media (max-width: 56.25em) {
  .carousel__image {
    height: 47rem;
  }
}
@media (max-width: 37.5em) {
  .carousel__image {
    height: 22rem;
  }
}

.carousel_text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  border: 1px solid white;
  display: inline;
  padding: 0.2rem 2rem;
  color: white;
}
@media (max-width: 56.25em) {
  .carousel_text {
    font-size: 1.5rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text {
    font-size: 1.4rem;
    letter-spacing: 0;
    padding: 0rem 0.5rem;
  }
}
.carousel_text__pre_wed {
  position: absolute;
  top: 3.5rem;
  right: 10rem;
}
@media (max-width: 75em) {
  .carousel_text__pre_wed {
    right: 5rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__pre_wed {
    right: 3rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__pre_wed {
    position: absolute;
    top: auto;
    bottom: 1rem;
    right: 1rem;
  }
}
.carousel_text__wed {
  position: absolute;
  top: 4.5rem;
  right: 20rem;
}
@media (max-width: 75em) {
  .carousel_text__wed {
    top: 4.5rem;
    right: 11rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__wed {
    top: 3.5rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__wed {
    top: 1rem;
    right: 1rem;
  }
}
.carousel_text__maternity {
  position: absolute;
  bottom: 8rem;
  right: 5rem;
}
@media (max-width: 75em) {
  .carousel_text__maternity {
    bottom: 7rem;
    right: 4rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__maternity {
    bottom: 5rem;
    right: 3rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__maternity {
    bottom: 1rem;
    right: 0.2rem;
  }
}
.carousel_text__kid {
  position: absolute;
  bottom: 8rem;
  left: 36rem;
}
@media (max-width: 75em) {
  .carousel_text__kid {
    bottom: 8rem;
    left: 12rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__kid {
    bottom: 5rem;
    left: 12rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__kid {
    bottom: 1.5rem;
    left: 3rem;
  }
}
.carousel_text__fashion {
  position: absolute;
  bottom: 5rem;
  left: 14rem;
}
@media (max-width: 75em) {
  .carousel_text__fashion {
    bottom: 5rem;
    left: 1rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__fashion {
    bottom: 1rem;
    left: 0.2rem;
  }
}
.carousel_text__celebrity {
  position: absolute;
  bottom: 14rem;
  left: 28rem;
}
@media (max-width: 75em) {
  .carousel_text__celebrity {
    bottom: 13rem;
    left: 9rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__celebrity {
    bottom: 11rem;
    left: 5rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__celebrity {
    bottom: 5rem;
    left: 2rem;
  }
}
.carousel_text__event {
  position: absolute;
  top: 5rem;
  left: 18rem;
}
@media (max-width: 75em) {
  .carousel_text__event {
    top: 6rem;
    left: 8rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__event {
    top: 3rem;
    left: 3rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__event {
    top: 2rem;
    left: 0.2rem;
  }
}/*# sourceMappingURL=carousel.css.map */