@import './Mixin.scss';

.c-vid-section{
    margin: 8rem 5rem 10rem;
    font-size: 1.6rem;

    @include respond(tab-port){
        margin: 7rem 0rem 10rem;
    }

    @include respond(phone){
        margin: 3rem 2rem 4rem;
    }
}

.video-containing-div{
    justify-content: center;
    padding: 0 5rem 0;

    @include respond(tab-port){
        padding: 0;
    }

    @include respond(phone){
        padding: 0;
    }
}