@import './Mixin.scss';

.follow_us{
    padding: 7rem 1rem;

    @include respond(phone){
        padding: 3rem 1rem;
    }
}

.contact_text{
    font-size: 1.6rem;
    text-align: center;
}

.contact{
    text-align: center;
    margin-top: 3rem;

    @include respond(phone){
        margin-top: auto;
    }

    &__logo{
    height: 4rem;
    margin: 0 .5rem;

    @include respond(phone){
        height: 2.8rem;
    }
}
}