@import './Mixin.scss';

.footer{
    background-image: url("../images/footer_img.jpeg");
    height: 30rem;
    object-fit: fill;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top: solid .4rem #c3073f;

    @include respond(tab-port) {
        height: 40rem;
    }

    @include respond(phone) {
            height: 40rem;
    }
}

.over-lay{
    position: absolute;
    background-color: rgba(0, 0, 0, .94);
    height: 100%;
    width: 100%;
    color: rgba(220, 220, 220, 0.916);
    text-align: center;  
    padding: 1rem;
}

.footer-rows{
    padding: .5rem 11rem;

    @include respond(tab-land){
        padding: .5rem 6rem;
    }

    @include respond(tab-port){
        padding: .5rem 1rem;
    }

    @include respond(phone){
        padding: 0rem 0rem;
    }
}

.f-columns{
    padding-top: 2rem;

    @include respond(phone){
        padding: 0;
    }
}

// .columns{
//     @include respond(tab-port){
//         width: 50%;
//     }
// }
.logo-div{
    height: 13rem;
    width: 29rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5.2rem auto;
    

    @include respond(tab-land){
        height: 10rem;
        width: 22rem;
        margin: 6.2rem auto;
    }

    @include respond(tab-port){
        height: 7rem;
        width: 17rem;
        margin: 0rem auto;
    }

    @include respond(phone){
        height: 7rem;
        width: 16rem;
        margin: 1rem auto;
    }

    &__img{
        height: 100%;
        width: 100%;
    }
}

.footer_list{
    list-style-type: none;
    font-size: 1.6rem;
    padding: 0;
    margin-top: 3.5rem;

    @include respond(tab-port){
        margin: 0;
        display: flex;
        justify-content: center;
    }

    @include respond(phone){
        margin: 0;
        display: flex;
        justify-content: center;
    }
}

.list_item{
    padding: .5rem;
    cursor: pointer;
    text-decoration: none;
    color: #f7f7f7;
    display: block;

    &:hover{
        text-decoration: none;
        color: #c3073fc4;
    }    

    @include respond(tab-port){
        float: left;
        padding: 1rem;
    }

    @include respond(phone){
        float: left;
        padding: 1rem;
    }
}

.follow-us{
    @include respond(tab-port){
        margin: 0;
    }
    @include respond(phone){
        margin: 0;
    }
}

.social{
    padding :0 1rem;
    margin: 0;

    @include respond(tab-port){
        padding: 0;
    }

    @include respond(phone){
        padding: 0;
    }
}

.socialm{
    list-style-type: none;
    display: inline-block;
    padding: .3rem .8rem;
    margin: .3rem;

    @include respond(tab-port){
        padding: 0;
        margin: 0;
    }

    @include respond(phone){
        padding: 0;
        margin: 0;
    }
}


.sicon{
    // size: 1rem;
    color: #f7f7f7;
    font-size: 2.8rem; 
    margin: 1rem;

    @include respond(phone){
        font-size: 2.2rem; 
        margin: .8rem;
    }
}

.sicon:hover{
    color: #c3073fc4;
}

.footer_social{
    margin-top: 4%;

    @include respond(tab-port){
        margin-top: 0;
    }

    @include respond(phone){
        margin-top: 1%;
    }
}

.footer_head{
    font-size: 2.8rem;
    margin-top: 3rem;
    margin-bottom: 2.2rem;

    @include respond(tab-port){
        margin-top: 1.8rem;
        margin-bottom: .6rem;
        font-size: 2rem;
    }

    @include respond(phone){
        margin-top: 1.8rem;
        margin-bottom: .6rem;
        font-size: 2rem;
    }
}

.footer_para{
    font-size: 1.6rem;

    @include respond(tab-port){
        margin-bottom: 0;
    }

    @include respond(phone){
        margin-bottom: 0;
    }
}

.contact_info{
    text-align: left;
    padding-left: 4.5%;

    @include respond(tab-land){
        padding-left: 4.5%;
    }

    @include respond(tab-port){
        text-align: center;
    }

    @include respond(phone){
        text-align: center;
    }
}

.c_icon{
    color: #c3073f;
    font-size: 2.2rem;
    width: 3rem;
    margin-right: 0 .6rem 0 0;
}

.copyright{
    color: rgba(171, 171, 171, 0.5);
    font-size: 1.6rem;
    text-align: center;

    @include respond(phone){
        margin-top: 1rem;
    }
}