.gallery-section{
    // padding-top: 6rem;
    background-color: #f7f7f7;
    padding: 18rem 20rem 14rem;
    margin: -20vh 0;
}

.gallery-head{
    margin: .3rem;
    padding: 1.5rem;
    text-align: center;
}

.img-gallery{
    padding: 8rem 0 0;
}

.pic{
    height: 28rem;
}

.pic-hor{
    height: 32rem;
}

.pic-ver{
    height: 40rem;
}

.pic-ver-1{
    transform: scale(1, 1.71);
    top: 14.2rem;
}

.image{
    transition: all .9s ease .2s;
    padding: .5rem;
}

.image:hover{
    transform: scale(0.9);
}

.pic-ver-1:hover{
    transform: scale(0.9, 1.6);
}


/* button part starts */
.button-div{
    text-align: center;
}

.button{
    border-radius: .8rem;
    background-color: #C3073F;
    border: none;
    color:  #f7f7f7;
    text-align: center;
    font-size: 2rem;
    padding: .7rem;
    width: 18.5rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn-link{
    text-decoration: none;
    color: #f7f7f7;
}

.btn-link:hover{
    text-decoration: none;
    color: #f7f7f7;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
} 
/* button part ends */