@import './Mixin.scss';

.top-btn{
    cursor: pointer;
    position: fixed;
    bottom: 8rem;
    right: 3rem;
    z-index: 2;

    @include respond(tab-land){
        bottom: 6rem;
    }

    @include respond(tab-port){
        bottom: 5rem;
        right: 2rem;
    }

    @include respond(phone){
        bottom: 7rem;
        right: 1rem;
    }
}

.top_icon{
    font-size: 4.5rem;
    color: #1A1A1D;

    @include respond(phone){
        font-size: 4rem;
    }
}

.share-btn{
    cursor: pointer;
    position: fixed;
    bottom: 15.5rem;
    right: 3.7rem;
    z-index: 2;

    @include respond(tab-land){
        bottom: 13.5rem;
    }

    @include respond(tab-port){
        bottom: 12.5rem;
        right: 2rem;
    }

    @include respond(phone){
        bottom: 14rem;
        right: 1.6rem;
    }
}

.share-icon{
    font-size: 3.5rem;
    color: #1A1A1D;
}

.copied-alert{
    color: #1A1A1D;
    position: fixed;
    bottom: 19rem;
    right: 3rem;
    font-size: 1.4rem;

    @include respond(tab-land){
        bottom: 17rem;
    }

    @include respond(tab-port){
        bottom: 16rem;
        right: 1.5rem;
    }

    @include respond(phone){
        bottom: 11rem;
        right: 0.6rem;
    }
}