@import './Mixin.scss';

.icons-bar{
    position: fixed;
    z-index: 2;
    top: 18vh;
    right: 1.4rem;

    @include respond(tab-land){
        top: 14vh;
        right: 1.2rem;
    }

    @include respond(phone){
        top: 18vh;
        right: .4rem;
    }

    &__icons{
        display: block;
        margin: 1rem;

        @include respond(phone){
            font-size: 2rem;
            margin: .7rem .2rem;
        }
    }

    &__icon{
        font-size: 3rem;
        color: #c3073fc4;
        &:hover{
            font-size: 2.3rem;
        }

        @include respond(phone){  
            font-size: 2.6rem;
        }
    }
}
