@import './Mixin.scss';

.gallery-block-front{
    padding: 0rem 20rem;

    @include respond(tab-land){
        padding: 1rem 15rem;
    }

    @include respond(tab-port){
        padding: 0 8rem;
    }

    @include respond(phone){
        padding: 1rem 1rem 0;
    }
}