@charset "UTF-8";
.heading-primary {
  color: white;
  text-transform: uppercase;
  font-size: 6.5rem;
  padding-bottom: 1.5rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.heading-primary__main {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2.5rem;
  margin-bottom: 2.5rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary__main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}
.heading-primary__sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary__sub {
    letter-spacing: 0.5rem;
  }
}

.heading_secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 56.25em) {
  .heading_secondary {
    font-size: 2.5rem;
  }
}
@media (max-width: 37.5em) {
  .heading_secondary {
    font-size: 2rem;
  }
}

.heading-tertiory {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-top-small {
  margin-top: 1.2rem;
}

.u-margin-top-huge {
  margin-top: 3rem;
}
@media (max-width: 37.5em) {
  .u-margin-top-huge {
    margin-top: 1.5rem;
  }
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}
@media (max-width: 37.5em) {
  .u-margin-bottom-small {
    margin-bottom: 0.8rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 7rem;
}
@media (max-width: 37.5em) {
  .u-margin-bottom-large {
    margin-bottom: 3rem;
  }
}

.section-about {
  padding: 10rem 20rem;
  margin-top: -20vh;
}
@media (max-width: 75em) {
  .section-about {
    padding: 12rem 18rem;
  }
}
@media (max-width: 56.25em) {
  .section-about {
    padding: 12rem 16rem;
  }
}
@media (max-width: 37.5em) {
  .section-about {
    padding: 6rem 4rem 10rem;
  }
}

.section-services {
  margin-top: -5rem;
  padding: 14.6rem 20rem 10.6rem;
}
@media (max-width: 75em) {
  .section-services {
    padding: 13rem 21rem 10rem;
  }
}
@media (max-width: 56.25em) {
  .section-services {
    padding: 13rem 18rem 10rem;
  }
}
@media (max-width: 37.5em) {
  .section-services {
    padding: 5.5rem 7rem 4rem;
  }
}

.section-celebrity {
  padding: 20rem 12rem 8rem;
  margin-top: -20vh;
}
@media (max-width: 75em) {
  .section-celebrity {
    padding: 17rem 1.6rem 10rem;
  }
}
@media (max-width: 56.25em) {
  .section-celebrity {
    padding: 16rem 2rem 4rem;
  }
}

.section-image {
  padding: 6rem 0 0;
}
@media (max-width: 75em) {
  .section-image {
    padding: 3rem 0 0;
  }
}
@media (max-width: 37.5em) {
  .section-image {
    padding: 2.2rem 0 0;
  }
}

.section-videography {
  position: relative;
  padding: 8.5rem 0 10rem;
  background-color: rgba(255, 255, 255, 0);
}
@media (max-width: 75em) {
  .section-videography {
    padding: 8.5rem 0 10rem;
  }
}
@media (max-width: 56.25em) {
  .section-videography {
    padding: 8.5rem 0 10rem;
  }
}
@media (max-width: 37.5em) {
  .section-videography {
    padding: 3rem 0 4rem;
  }
}

.top-btn {
  position: fixed;
  bottom: 8rem;
  right: 3rem;
  z-index: 2;
}
@media (max-width: 75em) {
  .top-btn {
    bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .top-btn {
    bottom: 5rem;
    right: 2rem;
  }
}
@media (max-width: 37.5em) {
  .top-btn {
    bottom: 2.2rem;
    right: 1rem;
  }
}

.top_icon {
  font-size: 4.5rem;
  color: #1A1A1D;
}
@media (max-width: 37.5em) {
  .top_icon {
    font-size: 3.2rem;
  }
}

.share-btn {
  position: fixed;
  bottom: 15.5rem;
  right: 3.7rem;
  z-index: 2;
}
@media (max-width: 75em) {
  .share-btn {
    bottom: 13.5rem;
  }
}
@media (max-width: 56.25em) {
  .share-btn {
    bottom: 12.5rem;
    right: 2rem;
  }
}
@media (max-width: 37.5em) {
  .share-btn {
    bottom: 8.1rem;
    right: 1.6rem;
  }
}

.share-icon {
  font-size: 3.5rem;
  color: #1A1A1D;
}
@media (max-width: 37.5em) {
  .share-icon {
    font-size: 2.7rem;
  }
}

.copied-alert {
  color: #1A1A1D;
  position: fixed;
  bottom: 19rem;
  right: 3rem;
  font-size: 1.4rem;
}
@media (max-width: 75em) {
  .copied-alert {
    bottom: 17rem;
  }
}
@media (max-width: 56.25em) {
  .copied-alert {
    bottom: 16rem;
    right: 1.5rem;
  }
}
@media (max-width: 37.5em) {
  .copied-alert {
    bottom: 11rem;
    right: 0.6rem;
  }
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(50, 50, 50, 0.614), rgba(0, 0, 0, 0)), url("../images/hero-img.jpeg");
  background-size: cover;
  background-position: top center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);
}
@media (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 72vh, 0 80vh);
    clip-path: polygon(0 0, 100% 0, 100% 72vh, 0 80vh);
  }
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

.overlay_box {
  position: absolute;
  left: 0;
  top: 0;
}

.frontpage {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 0.5rem;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading_second-sub {
  display: block;
  font-size: 2.1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-top: 5rem;
  text-transform: none;
  -webkit-animation-name: moveUp;
          animation-name: moveUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
  }
} /*# sourceMappingURL=intro.css.map */
.section-about {
  background-color: #f7f7f7;
}

.about-sec-block {
  display: flex;
}

.front-head {
  font-family: "Noto Serif Khojki", serif;
}

.back-head {
  font-family: "Allura", cursive;
  margin: 0 0 -4.8rem;
  font-size: 8rem;
  color: rgba(195, 7, 63, 0.5333333333);
}
@media (max-width: 37.5em) {
  .back-head {
    margin: 0 0 -3.5rem;
    font-size: 6rem;
  }
}

.about__text-sec {
  margin-bottom: 1rem;
}

.white-btn {
  background-color: rgb(230, 230, 230);
  border: 0;
  color: rgb(84, 84, 84);
  padding: 0.6rem 2rem;
  text-align: center;
  margin-right: 2.5rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  transition: all 0.3s;
}
.white-btn:hover {
  color: rgb(84, 84, 84);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem);
  text-decoration: none;
}
.white-btn__text {
  text-decoration: none;
  color: rgb(84, 84, 84);
}
.white-btn__text:hover {
  color: rgb(84, 84, 84);
  text-decoration: none;
}

.text-btn {
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #C3073F;
  padding: 0.3rem 0.8rem;
  transition: all 0.3s;
  color: #C3073F;
}
.text-btn:hover {
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem);
  color: #C3073F;
  text-decoration: none;
}

.about-img {
  width: 94%;
  height: 91%;
}

.section-services {
  background-image: linear-gradient(to right bottom, rgba(28, 28, 28, 0.6), rgba(0, 0, 0, 0.8)), url("../images/nil-2.jpeg");
  background-size: cover;
  background-position: top center;
  position: relative;
  width: 100%;
  transform: skewY(-6deg);
}
.section-services > * {
  transform: skewY(6deg);
}

.service-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.2rem;
  text-align: center;
  border: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  margin-bottom: 4rem;
}
@media (max-width: 37.5em) {
  .service-box {
    padding: 1rem 2.2rem;
    margin-bottom: 2rem;
  }
}
.service-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: rgba(195, 7, 63, 0.4392156863);
}
.service-box:hover {
  transform: translateY(-1.3rem) scale(1.03);
}

.cel-div {
  padding: 0 1rem;
  margin: 0 0 3rem;
  width: 33rem;
}
@media (max-width: 56.25em) {
  .cel-div {
    margin-bottom: 5rem;
  }
}
@media (max-width: 37.5em) {
  .cel-div {
    width: 26rem;
    margin-bottom: 2rem;
  }
}

.cel-block {
  display: flex;
  justify-content: center;
}

.cel-cards {
  text-align: center;
}

.cel-card {
  margin: 0rem;
  border-top: solid 0.3rem #C3073F;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0.7rem;
}
.cel-card__para {
  height: 10rem;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1.5rem 0 0;
}
@media (max-width: 56.25em) {
  .cel-card__para {
    padding: 1.5rem 0 0;
  }
}
@media (max-width: 37.5em) {
  .cel-card__para {
    height: 11.1rem;
    padding-top: 0.8rem;
  }
}
.cel-card__paragraph {
  text-align: justify;
  font-size: 1.6rem;
}
.cel-card__img-sec {
  height: 47rem;
  width: 31rem;
  text-align: center;
}
@media (max-width: 56.25em) {
  .cel-card__img-sec {
    height: 41rem;
  }
}
@media (max-width: 37.5em) {
  .cel-card__img-sec {
    width: 24rem;
    height: 36rem;
  }
}
.cel-card__img {
  height: 100%;
  width: 100%;
}

.you-tube-logo {
  height: 1.3rem;
}
.you-tube-logo__text {
  font-size: 1.4rem;
  color: rgb(128, 128, 128);
}

.carousel-section {
  height: 60rem;
}
@media (max-width: 75em) {
  .carousel-section {
    height: 56rem;
  }
}
@media (max-width: 56.25em) {
  .carousel-section {
    height: 47rem;
  }
}
@media (max-width: 37.5em) {
  .carousel-section {
    height: 22rem;
  }
}

.carousel__image {
  height: 60rem;
  width: 100%;
}
.carousel__image__img {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 75em) {
  .carousel__image {
    height: 56rem;
  }
}
@media (max-width: 56.25em) {
  .carousel__image {
    height: 47rem;
  }
}
@media (max-width: 37.5em) {
  .carousel__image {
    height: 22rem;
  }
}

.carousel_text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  border: 1px solid white;
  display: inline;
  padding: 0.2rem 2rem;
  color: white;
}
@media (max-width: 56.25em) {
  .carousel_text {
    font-size: 1.5rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text {
    font-size: 1.4rem;
    letter-spacing: 0;
    padding: 0rem 0.5rem;
  }
}
.carousel_text__pre_wed {
  position: absolute;
  top: 3.5rem;
  right: 10rem;
}
@media (max-width: 75em) {
  .carousel_text__pre_wed {
    right: 5rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__pre_wed {
    right: 3rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__pre_wed {
    position: absolute;
    top: auto;
    bottom: 1rem;
    right: 1rem;
  }
}
.carousel_text__wed {
  position: absolute;
  top: 4.5rem;
  right: 20rem;
}
@media (max-width: 75em) {
  .carousel_text__wed {
    top: 4.5rem;
    right: 11rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__wed {
    top: 3.5rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__wed {
    top: 1rem;
    right: 1rem;
  }
}
.carousel_text__maternity {
  position: absolute;
  bottom: 8rem;
  right: 5rem;
}
@media (max-width: 75em) {
  .carousel_text__maternity {
    bottom: 7rem;
    right: 4rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__maternity {
    bottom: 5rem;
    right: 3rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__maternity {
    bottom: 1rem;
    right: 0.2rem;
  }
}
.carousel_text__kid {
  position: absolute;
  bottom: 8rem;
  left: 36rem;
}
@media (max-width: 75em) {
  .carousel_text__kid {
    bottom: 8rem;
    left: 12rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__kid {
    bottom: 5rem;
    left: 12rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__kid {
    bottom: 1.5rem;
    left: 3rem;
  }
}
.carousel_text__fashion {
  position: absolute;
  bottom: 5rem;
  left: 14rem;
}
@media (max-width: 75em) {
  .carousel_text__fashion {
    bottom: 5rem;
    left: 1rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__fashion {
    bottom: 1rem;
    left: 0.2rem;
  }
}
.carousel_text__celebrity {
  position: absolute;
  bottom: 14rem;
  left: 28rem;
}
@media (max-width: 75em) {
  .carousel_text__celebrity {
    bottom: 13rem;
    left: 9rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__celebrity {
    bottom: 11rem;
    left: 5rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__celebrity {
    bottom: 5rem;
    left: 2rem;
  }
}
.carousel_text__event {
  position: absolute;
  top: 5rem;
  left: 18rem;
}
@media (max-width: 75em) {
  .carousel_text__event {
    top: 6rem;
    left: 8rem;
  }
}
@media (max-width: 56.25em) {
  .carousel_text__event {
    top: 3rem;
    left: 3rem;
  }
}
@media (max-width: 37.5em) {
  .carousel_text__event {
    top: 2rem;
    left: 0.2rem;
  }
}

.gallery-block-front {
  padding: 0rem 20rem 5rem;
}
@media (max-width: 75em) {
  .gallery-block-front {
    padding: 0 12rem 0;
  }
}
@media (max-width: 56.25em) {
  .gallery-block-front {
    padding: 0 8rem 0;
  }
}
@media (max-width: 37.5em) {
  .gallery-block-front {
    padding: 1rem 1rem 0;
  }
}

.gallery-section {
  background-color: #f7f7f7;
  padding: 18rem 20rem 14rem;
  margin: -20vh 0;
}

.gallery-head {
  margin: 0.3rem;
  padding: 1.5rem;
  text-align: center;
}

.img-gallery {
  padding: 8rem 0 0;
}

.pic {
  height: 28rem;
}

.pic-hor {
  height: 32rem;
}

.pic-ver {
  height: 40rem;
}

.pic-ver-1 {
  transform: scale(1, 1.71);
  top: 14.2rem;
}

.image {
  transition: all 0.5s ease 0.1s;
}

.image:hover {
  transform: scale(0.9);
  background-color: black;
  opacity: 0.4;
}

.pic-ver-1:hover {
  transform: scale(0.9, 1.6);
}

/* button part starts */
.button-div {
  text-align: center;
}

.button {
  border-radius: 0.8rem;
  background-color: #C3073F;
  border: none;
  color: #f7f7f7;
  text-align: center;
  font-size: 2rem;
  padding: 0.7rem;
  width: 18.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-link {
  text-decoration: none;
  color: #f7f7f7;
}

.btn-link:hover {
  text-decoration: none;
  color: #f7f7f7;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* button part ends */
.background {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.96);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 5;
}
.background__close-btn {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  background-color: transparent;
  border: 0;
}
.background__pre-btn {
  position: absolute;
  top: 46%;
  left: 1.3rem;
  background-color: transparent;
  border: 0;
}
.background__next-btn {
  position: absolute;
  top: 46%;
  right: 1.3rem;
  background-color: transparent;
  border: 0;
}
.background__icon {
  color: rgba(146, 146, 146, 0.694);
  font-size: 3.4rem;
}
.background__icon__close {
  color: rgba(146, 146, 146, 0.694);
  font-size: 2.8rem;
}

.gallery-block {
  padding: 6rem 17rem 10rem;
}
@media (max-width: 75em) {
  .gallery-block {
    padding: 5rem 11rem 10rem;
  }
}
@media (max-width: 56.25em) {
  .gallery-block {
    padding: 3rem 8rem 6rem;
  }
}
@media (max-width: 37.5em) {
  .gallery-block {
    padding: 0rem 1rem 4rem;
  }
}

.gallery-block__images {
  cursor: pointer;
}

.video-sec-block {
  padding: 0 21rem;
}
@media (max-width: 75em) {
  .video-sec-block {
    padding: 0 16rem;
  }
}
@media (max-width: 56.25em) {
  .video-sec-block {
    padding: 0 15rem;
  }
}
@media (max-width: 37.5em) {
  .video-sec-block {
    padding: 0 5.5rem;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  overflow: hidden;
  z-index: -1;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.v-graphy {
  width: 75%;
  margin: 4rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  padding: 5rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
@media (max-width: 56.25em) {
  .v-graphy {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
}
@media (max-width: 37.5em) {
  .v-graphy {
    transform: skewX(0);
    width: 100%;
    padding: 2.8rem 1.8rem 2rem 2rem;
    margin: 0 auto 2rem;
  }
}
.v-graphy__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(45% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
@media (max-width: 37.5em) {
  .v-graphy__shape {
    transform: translateX(-1rem) skewX(0);
    shape-outside: circle(45% at 59% 50%);
  }
}
.v-graphy__img {
  height: 100%;
  width: 100%;
}
.v-graphy__text {
  transform: skewX(12deg);
}
@media (max-width: 37.5em) {
  .v-graphy__text {
    transform: skewX(0);
  }
}
.v-graphy__para {
  margin: 0;
  text-align: justify;
}

.follow_us {
  padding: 7rem 1rem;
}
@media (max-width: 37.5em) {
  .follow_us {
    padding: 2rem 1rem;
  }
}

.contact_text {
  font-size: 1.6rem;
  text-align: center;
}

.contact {
  text-align: center;
  margin-top: 3rem;
}
@media (max-width: 37.5em) {
  .contact {
    margin-top: auto;
  }
}
.contact__logo {
  height: 4rem;
  margin: 0 0.5rem;
}
@media (max-width: 37.5em) {
  .contact__logo {
    height: 2.8rem;
  }
}

.testimonial-heading {
  margin: 0;
  background-color: #1A1A1D;
  padding: 3.5rem;
  border-bottom: solid 0.4rem #c3073f;
}
@media (max-width: 37.5em) {
  .testimonial-heading {
    padding: 2.5rem;
  }
}
.testimonial-heading__text {
  color: #f7f7f7;
  font-family: "Noto Serif Khojki", serif;
}

.carousel-inner {
  line-height: normal;
}

.review-carousel-section {
  background-color: #ebebeb;
  padding: 0 0 1.5rem;
}
@media (max-width: 37.5em) {
  .review-carousel-section {
    padding: 0;
  }
}

.carousel-indicators {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.re-carousel {
  padding: 6rem 5rem 8rem;
  justify-content: center;
  display: flex;
  height: 38rem;
}
.re-carousel__pic-sec {
  width: 18.5rem;
  margin-right: 6rem;
}
@media (max-width: 37.5em) {
  .re-carousel__pic-sec {
    margin-right: 0rem;
  }
}
.re-carousel__pic {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  margin: 1rem 1rem 2rem;
}
@media (max-width: 37.5em) {
  .re-carousel__pic {
    height: 12.5rem;
    width: 12.5rem;
    margin: 1rem 1rem 1rem;
  }
}
.re-carousel__shoot-name {
  text-align: center;
}
@media (max-width: 37.5em) {
  .re-carousel__shoot-name {
    margin: 0;
  }
}
.re-carousel__review-sec {
  width: 49rem;
  padding: 1rem 0 0;
}
.re-carousel__name {
  text-align: right;
  font-size: 1.6rem;
  margin-top: 3rem;
}
@media (max-width: 37.5em) {
  .re-carousel__name {
    font-size: 1.4rem;
    margin: 0.2rem 0 0.4rem;
  }
}
.re-carousel__only-review {
  position: relative;
}
.re-carousel__review {
  font-size: 1.7rem;
  margin: 0 3rem;
  padding: 2.4rem 1.8rem;
  font-family: "Kalam", cursive;
}
@media (max-width: 37.5em) {
  .re-carousel__review {
    font-size: 1.6rem;
    margin: 0;
  }
}
.re-carousel__icon-left {
  font-size: 3.3rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@media (max-width: 37.5em) {
  .re-carousel__icon-left {
    font-size: 2rem;
  }
}
.re-carousel__icon-right {
  font-size: 3.3rem;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.3;
}
@media (max-width: 37.5em) {
  .re-carousel__icon-right {
    font-size: 2rem;
  }
}
@media (max-width: 56.25em) {
  .re-carousel {
    padding: 3rem 10rem 5rem;
  }
}
@media (max-width: 37.5em) {
  .re-carousel {
    padding: 0.5rem 2rem 1.3rem;
    height: 43rem;
  }
}

.footer {
  background-image: url("../images/footer_img.jpeg");
  height: 30rem;
  -o-object-fit: fill;
     object-fit: fill;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: solid 0.4rem #c3073f;
}
@media (max-width: 56.25em) {
  .footer {
    height: 40rem;
  }
}
@media (max-width: 37.5em) {
  .footer {
    height: 40rem;
  }
}

.over-lay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.94);
  height: 100%;
  width: 100%;
  color: rgba(220, 220, 220, 0.916);
  text-align: center;
  padding: 1rem;
}

.footer-rows {
  padding: 0.5rem 11rem;
}
@media (max-width: 75em) {
  .footer-rows {
    padding: 0.5rem 6rem;
  }
}
@media (max-width: 56.25em) {
  .footer-rows {
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 37.5em) {
  .footer-rows {
    padding: 0rem 0rem;
  }
}

.f-columns {
  padding-top: 2rem;
}
@media (max-width: 37.5em) {
  .f-columns {
    padding: 0;
  }
}

.logo-div {
  height: 13rem;
  width: 29rem;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5.2rem auto;
}
@media (max-width: 75em) {
  .logo-div {
    height: 10rem;
    width: 22rem;
    margin: 6.2rem auto;
  }
}
@media (max-width: 56.25em) {
  .logo-div {
    height: 7rem;
    width: 17rem;
    margin: 0rem auto;
  }
}
@media (max-width: 37.5em) {
  .logo-div {
    height: 7rem;
    width: 16rem;
    margin: 1rem auto;
  }
}
.logo-div__img {
  height: 100%;
  width: 100%;
}

.footer_list {
  list-style-type: none;
  font-size: 1.6rem;
  padding: 0;
  margin-top: 3.5rem;
}
@media (max-width: 56.25em) {
  .footer_list {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 37.5em) {
  .footer_list {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

.list_item {
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  color: #f7f7f7;
  display: block;
}
.list_item:hover {
  text-decoration: none;
  color: rgba(195, 7, 63, 0.768627451);
}
@media (max-width: 56.25em) {
  .list_item {
    float: left;
    padding: 1rem;
  }
}
@media (max-width: 37.5em) {
  .list_item {
    float: left;
    padding: 1rem;
  }
}

@media (max-width: 56.25em) {
  .follow-us {
    margin: 0;
  }
}
@media (max-width: 37.5em) {
  .follow-us {
    margin: 0;
  }
}

.social {
  padding: 0 1rem;
  margin: 0;
}
@media (max-width: 56.25em) {
  .social {
    padding: 0;
  }
}
@media (max-width: 37.5em) {
  .social {
    padding: 0;
  }
}

.socialm {
  list-style-type: none;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  margin: 0.3rem;
}
@media (max-width: 56.25em) {
  .socialm {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 37.5em) {
  .socialm {
    padding: 0;
    margin: 0;
  }
}

.sicon {
  color: #f7f7f7;
  font-size: 2.8rem;
  margin: 1rem;
}
@media (max-width: 37.5em) {
  .sicon {
    font-size: 2.2rem;
    margin: 0.8rem;
  }
}

.sicon:hover {
  color: rgba(195, 7, 63, 0.768627451);
}

.footer_social {
  margin-top: 4%;
}
@media (max-width: 56.25em) {
  .footer_social {
    margin-top: 0;
  }
}
@media (max-width: 37.5em) {
  .footer_social {
    margin-top: 1%;
  }
}

.footer_head {
  font-size: 2.8rem;
  margin-top: 3rem;
  margin-bottom: 2.2rem;
}
@media (max-width: 56.25em) {
  .footer_head {
    margin-top: 1.8rem;
    margin-bottom: 0.6rem;
    font-size: 2rem;
  }
}
@media (max-width: 37.5em) {
  .footer_head {
    margin-top: 1.8rem;
    margin-bottom: 0.6rem;
    font-size: 2rem;
  }
}

.footer_para {
  font-size: 1.6rem;
}
@media (max-width: 56.25em) {
  .footer_para {
    margin-bottom: 0;
  }
}
@media (max-width: 37.5em) {
  .footer_para {
    margin-bottom: 0;
  }
}

.contact_info {
  text-align: left;
  padding-left: 4.5%;
}
@media (max-width: 75em) {
  .contact_info {
    padding-left: 4.5%;
  }
}
@media (max-width: 56.25em) {
  .contact_info {
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .contact_info {
    text-align: center;
  }
}

.c_icon {
  color: #c3073f;
  font-size: 2.2rem;
  width: 3rem;
  margin-right: 0 0.6rem 0 0;
}

.copyright {
  color: rgba(171, 171, 171, 0.5);
  font-size: 1.6rem;
  text-align: center;
}
@media (max-width: 37.5em) {
  .copyright {
    margin-top: 1rem;
  }
}

.icons-bar {
  position: fixed;
  z-index: 2;
  top: 18vh;
  right: 1.4rem;
}
@media (max-width: 75em) {
  .icons-bar {
    top: 14vh;
    right: 1.2rem;
  }
}
@media (max-width: 37.5em) {
  .icons-bar {
    top: 18vh;
    right: 0.4rem;
  }
}
.icons-bar__icons {
  display: block;
  margin: 1rem;
}
@media (max-width: 37.5em) {
  .icons-bar__icons {
    font-size: 2rem;
    margin: 0.2rem;
  }
}
.icons-bar__icon {
  font-size: 3rem;
  color: rgba(195, 7, 63, 0.768627451);
}
.icons-bar__icon:hover {
  font-size: 2.3rem;
}
@media (max-width: 37.5em) {
  .icons-bar__icon {
    font-size: 2.6rem;
  }
}

.about-background {
  height: 51rem;
}
.about-background__image {
  height: 100%;
  width: 100%;
}
@media (max-width: 37.5em) {
  .about-background {
    height: 19rem;
  }
}

.main-image {
  position: absolute;
  top: 49rem;
  right: 25rem;
  width: auto;
  height: 52rem;
}
.main-image__pic {
  width: 100%;
  height: 100%;
}

.about-page {
  padding: 5rem 26rem 10rem;
  font-size: 1.6rem;
}
@media (max-width: 75em) {
  .about-page {
    padding: 5rem 20rem 10rem;
  }
}
@media (max-width: 56.25em) {
  .about-page {
    padding: 5rem 12rem 10rem;
  }
}
@media (max-width: 37.5em) {
  .about-page {
    padding: 0rem 1rem 4rem;
  }
}

.about-block {
  padding: 4rem;
  display: flex;
  margin-bottom: 3rem;
}
@media (max-width: 75em) {
  .about-block {
    padding: 3rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 56.25em) {
  .about-block {
    padding: 2rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 37.5em) {
  .about-block {
    margin-bottom: 0rem;
  }
}

.about-headings {
  letter-spacing: 0.6rem;
  margin: 1rem 0 4rem;
}
@media (max-width: 56.25em) {
  .about-headings {
    margin: 1.5rem 0 1rem;
  }
}
@media (max-width: 37.5em) {
  .about-headings {
    margin: 1rem 0;
  }
}

.photographer-div {
  height: 25.6rem;
  justify-content: center;
  display: flex;
}
.photographer-div__pic {
  width: auto;
  height: 100%;
}
.photographer-div__para {
  padding-left: 10rem;
}
@media (max-width: 75em) {
  .photographer-div__para {
    padding-left: 1rem;
  }
}

.model-div {
  height: 25.6rem;
  justify-content: center;
  display: flex;
}
.model-div__pic {
  width: auto;
  height: 100%;
}
.model-div__para {
  padding-right: 10rem;
}
@media (max-width: 75em) {
  .model-div__para {
    padding-right: 1rem;
  }
}

@media (max-width: 37.5em) {
  .institute-pic {
    margin: 0 1rem;
  }
}

.hr-about {
  border: solid 1px grey;
  margin: 2rem;
}

@media screen and (max-width: 991px) {
  .main-image {
    display: none;
  }
}
.sub-navbar-videos {
  height: 7rem;
  padding: 3rem 0 0;
  text-align: center;
  box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.2);
}

.cinema {
  padding: 6rem 17rem;
}
@media (max-width: 75em) {
  .cinema {
    padding: 6rem 10rem;
  }
}
@media (max-width: 37.5em) {
  .cinema {
    padding: 3rem 1rem;
  }
}
.cinema__heading {
  margin: 0 0 2rem;
}
@media (max-width: 56.25em) {
  .cinema__heading {
    margin: 1rem 0;
  }
}

.cinema__card {
  display: flex;
  padding: 0.2rem;
}
@media (max-width: 75em) {
  .cinema__card {
    margin: 0;
  }
}

.cinema__card-body {
  padding: 0rem 6rem;
  text-align: center;
  font-size: 1.6rem;
}
@media (max-width: 75em) {
  .cinema__card-body {
    padding: 2rem 4rem;
  }
}
@media (max-width: 56.25em) {
  .cinema__card-body {
    padding: 1rem 0rem;
  }
}
@media (max-width: 37.5em) {
  .cinema__card-body {
    margin: 1rem;
  }
}

.cinema__video {
  height: 31rem;
}
@media (max-width: 37.5em) {
  .cinema__video {
    height: 23rem;
  }
}

.hr {
  border: 1px solid grey;
  margin: 6rem 5rem;
}
@media (max-width: 56.25em) {
  .hr {
    margin: 1rem 10rem;
  }
}
@media (max-width: 37.5em) {
  .hr {
    margin: 0rem 5rem;
  }
}

.couplevideos_para {
  font-size: 1.6rem;
  margin: 6rem 38rem 0;
}

.c-vid-section {
  margin: 8rem 5rem 10rem;
  font-size: 1.6rem;
}
@media (max-width: 56.25em) {
  .c-vid-section {
    margin: 7rem 0rem 10rem;
  }
}
@media (max-width: 37.5em) {
  .c-vid-section {
    margin: 3rem 2rem 4rem;
  }
}

.video-containing-div {
  justify-content: center;
  padding: 0 5rem 0;
}
@media (max-width: 56.25em) {
  .video-containing-div {
    padding: 0;
  }
}
@media (max-width: 37.5em) {
  .video-containing-div {
    padding: 0;
  }
}

.sub-navigation-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.sub-navbar {
  text-align: center;
  box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.2);
  padding: 2rem 0 0;
  border: 0;
}

.sub-nav-component {
  text-decoration: none;
  color: rgb(117, 117, 117);
  padding: 1.2rem;
  margin: 0;
  font-size: 1.8rem;
}
.sub-nav-component:hover {
  color: #C3073F;
  text-decoration: none;
}

.navbar-toggler {
  position: absolute;
  right: 0;
  top: 0;
}

.navbar-collapse {
  padding: 0 7.5rem 0 0;
  -moz-column-count: 2;
       column-count: 2;
}

nav a.active {
  text-decoration: none;
  color: #C3073F;
  border-bottom: solid 2.5px #C3073F;
}

.responsive-navbar-nav {
  margin-right: 2.5rem;
}

@media only screen and (max-width: 993px) {
  .sub-nav-component {
    padding: 0;
    font-size: 1.6rem;
    text-align: right;
  }
  nav a.active {
    border-bottom: 0;
  }
}
.nav {
  display: flex;
  background: #1A1A1D;
  top: 0;
  width: 100%;
  z-index: 5;
  transition: top 0.3s;
  padding: 0 1.4rem;
  border-bottom: 2.5px solid #C3073F;
}

.logo1 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo {
  height: 6rem;
  width: 16rem;
  margin: 0.7rem;
}
@media (max-width: 37.5em) {
  .logo {
    height: 6rem;
    margin: 0.4rem 0 0;
  }
}
.logo__img {
  height: 100%;
  width: 100%;
}

.nav_bar {
  text-align: center;
}

.home-page {
  display: inline-block;
  color: #C3073F;
  text-decoration: none;
  padding: 2rem 1.2rem;
}
.home-page:hover {
  color: #C3073F;
  text-decoration: none;
}

.navigations {
  padding: 0;
  margin: 0;
}

.nav-component {
  display: inline-block;
  color: #787878;
  text-decoration: none;
  padding: 2rem 1.2rem;
}
.nav-component:hover {
  color: #C3073F;
  text-decoration: none;
}

.dropdown {
  display: none;
}

.navigations ul {
  padding: 0;
}

.navigations li:hover .dropdown {
  display: block;
  position: absolute;
  background-color: rgba(24, 24, 24, 0.943);
  margin-top: 5px;
  z-index: 2;
}

.navigations li:hover .dropdown ul {
  display: block;
  margin: 6px;
  list-style: none;
}

.navigations li:hover .dropdown ul li {
  width: 150px;
  padding: 10px;
  background: transparent;
  border-radius: 0%;
  text-align: left;
  font-size: 1.6rem;
}

.navigations li a.active {
  color: #C3073F;
  text-decoration: none;
}

@media only screen and (max-width: 360px) {
  .nav-component {
    padding: 1rem 1rem;
  }
  .nav {
    padding: 0%;
  }
  .nav-column {
    padding: 0;
  }
  .home-page {
    padding: 1rem 1rem;
  }
}
.Pricing-section {
  padding: 2rem 26rem;
  font-size: 1.6rem;
}
@media (max-width: 75em) {
  .Pricing-section {
    padding: 0 15rem;
  }
}
@media (max-width: 56.25em) {
  .Pricing-section {
    padding: 0 5rem;
  }
}
@media (max-width: 37.5em) {
  .Pricing-section {
    padding: 0 2rem;
  }
}

.price-plans {
  text-align: center;
  margin: 4rem 0;
  padding: 0 8rem;
}
@media (max-width: 37.5em) {
  .price-plans {
    margin: 2rem 0;
    padding: 0;
  }
}

.price-head {
  margin: 5rem 0 7rem;
}
@media (max-width: 37.5em) {
  .price-head {
    margin: 4rem 0 3rem;
  }
}

.price-para {
  padding: 0 16.5rem;
}
@media (max-width: 75em) {
  .price-para {
    padding: 0 14rem;
  }
}
@media (max-width: 37.5em) {
  .price-para {
    padding: 0 1rem;
  }
}

.price-format {
  padding: 1.5rem 1rem;
  margin: 2.5rem 0.5rem;
  background-color: #f2f2fa;
  border-radius: 0.5rem;
  border-left: solid 0.36rem #5f6782;
}
@media (max-width: 37.5em) {
  .price-format {
    margin: 1rem 0.5rem;
  }
}

.plan-para {
  margin: 0;
}

.points-sec {
  margin: 8rem 0 0;
  padding: 0 10rem;
}
@media (max-width: 37.5em) {
  .points-sec {
    margin: 3rem 0 0;
    padding: 0;
  }
}

.tc-button {
  text-align: center;
  background-color: #fff1f4;
  border-radius: 0.5rem;
  border-left: solid 0.36rem #C3073F;
  padding: 3rem 3rem;
}
.tc-button_div {
  padding: 0 18rem;
  margin: 6rem 0;
}
@media (max-width: 75em) {
  .tc-button_div {
    padding: 0 12rem;
  }
}
@media (max-width: 37.5em) {
  .tc-button_div {
    padding: 0;
  }
}
.tc-button_btn {
  border-radius: 0.8rem;
  background-color: #C3073F;
  border: none;
  font-size: 2rem;
  padding: 0.3rem;
  width: 12rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.tc-button_text {
  color: #f7f7f7;
  text-decoration: none;
}
.tc-button_text:hover {
  color: #f7f7f7;
  text-decoration: none;
}

.vcards__card {
  padding: 1.8rem;
  justify-content: center;
  display: flex;
}
@media (max-width: 56.25em) {
  .vcards__card {
    padding: 2.6rem;
  }
}
@media (max-width: 37.5em) {
  .vcards__card {
    padding: 1.8rem 1rem;
  }
}

.c-card {
  border: 0;
  width: 49rem;
  height: 35rem;
}
@media (max-width: 56.25em) {
  .c-card {
    width: 53rem;
  }
}
@media (max-width: 37.5em) {
  .c-card {
    height: 28rem;
    width: 41rem;
  }
}
.c-card__videosection {
  width: 100%;
  height: 28rem;
}
.c-card__videosection__video {
  height: 100%;
  width: 100%;
}
.c-card__body {
  padding: 0;
}
.c-card__title {
  font-size: 1.4rem;
  margin-bottom: 0;
}
.c-card__text {
  font-size: 1.6rem;
  line-height: 100%;
}

.wedding-para {
  font-size: 1.6rem;
  padding: 0 2rem;
}/*# sourceMappingURL=Main.css.map */