@import './Mixin.scss';

.section-about{
    padding: 14rem 20rem;
    margin-top: -20vh;

    @include respond(tab-land){
        padding: 12rem 18rem;
    }

    @include respond(tab-port){
        padding: 12rem 16rem;
    }

    @include respond(phone){
        padding: 8rem 4rem 10rem;
    }
}

.section-services{
    margin-top: -5rem;
    padding: 14.6rem 20rem 10.6rem;

    @include respond(tab-land){
        padding: 13rem 21rem 10rem;
    }

    @include respond(tab-port){
        padding: 13rem 18rem 10rem;
    }

    @include respond(phone){
        padding: 5.5rem 7rem 4rem;
    }
}

.section-celebrity{
    padding: 25rem 12rem 15rem;
    margin-top: -20vh;
    
    @include respond(tab-land){
        padding: 13rem 1.6rem 10rem;
    }

    @include respond(tab-port){
        padding: 15rem 2rem;
    }

    @include respond(phone){
        padding: 17rem 0 0;
    }
}

.carousel-section{
    margin: 3rem 0 0;
}