@import './Mixin.scss';

.section-about{
    padding: 10rem 20rem;
    margin-top: -20vh;

    @include respond(tab-land){
        padding: 12rem 18rem;
    }

    @include respond(tab-port){
        padding: 12rem 16rem;
    }

    @include respond(phone){
        padding: 6rem 4rem 10rem;
    }
}

.section-services{
    margin-top: -5rem;
    padding: 14.6rem 19rem 10.6rem;

    @include respond(tab-land){
        padding: 13rem 20rem 10rem;
    }

    @include respond(tab-port){
        padding: 13rem 18rem 10rem;
    }

    @include respond(phone){
        padding: 5.5rem 7rem 4rem;
    }
}

.section-celebrity{
    padding: 20rem 12rem 8rem;
    margin-top: -20vh;
    
    @include respond(tab-land){
        padding: 17rem 1.6rem 10rem;
    }

    @include respond(tab-port){
        padding: 18rem 2rem 4rem;
    }

    @include respond(phone){
        padding: 20rem 2rem 4rem;
    }

}

.section-image{
    padding: 6rem 0 0;

    @include respond(tab-land){
        padding: 3rem 0 0;
    }

    @include respond(phone){
        padding: 5.4rem 0 2rem;
    }
}

.section-videography{
    position: relative;
    padding: 8.5rem 0 10rem;
    background-color: rgba(255, 255, 255, 0);

    @include respond(tab-land){
        padding: 8.5rem 0 10rem;
    }

    @include respond(tab-port){
        padding: 8.5rem 0 10rem;
    }

    @include respond(phone){
        padding: 3rem 0 4rem;
    }
}