.testimonial-head{
    margin: 0;
    background-color: black;
    padding: 1.3rem;
}
.carousel-section{
    background-color: #ebebeb;
}

.carouselitem{
    text-align: center;
    width: 80rem;
    height: 32rem;
    margin: 1rem 36rem 6rem;
}

.carousel-control-prev{
    width: 35rem;
}

.carousel-control-next{
    width: 35rem;
}
.couple-image{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
    margin-top: 1.4rem;
}

// 
// .carousel-inner{
//     width: 50%;
// }


// // .carousel{
// //     padding: 1rem 22rem;
// //     text-align: center;
// // }

// // .slide{
// //     height: 35rem;
// // }

// // .head-testm{
// //     text-align: center;
// //     padding: .5rem;
// //     margin-top: 2rem;
// // }

// // 
