@import './Mixin.scss';

.testimonial-head{
    margin: 0;
    background-color: black;
    padding: 1.3rem;
}
.review-carousel-section{
    background-color: #ebebeb;
    padding: 0 0 1.5rem;
}

// .carouselitem{
//     text-align: center;
//     width: 80rem;
//     height: 32rem;
//     margin: 1rem 36rem 6rem;
// }

// .carousel-control-prev{
//     width: 35rem;
// }

// .carousel-control-next{
//     width: 35rem;
// }
// .couple-image{
//     height: 17rem;
//     width: 17rem;
//     border-radius: 50%;
//     margin-bottom: 1.2rem;
//     margin-top: 1.4rem;
// }

.carousel-indicators{
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
}
.re-carousel{
    padding: 5rem 5rem 7rem;
    justify-content: center;
    display: flex;

    &__pic-sec{
        width: 18.5rem;
        margin-right: 6rem;

        @include respond(phone){  
            margin-right: 0rem;
        }
    }

    &__pic{
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        margin: 1rem 1rem 2rem;
    }

    &__shoot-name{
        text-align: center;
    }

    &__review-sec{
        width: 46rem;
        padding: 1rem 0 0;
    }

    &__name{
        text-align: right;
        font-size: 1.6rem;
        margin-top: 3rem;
    }

    &__only-review{
        position: relative;
    }

    &__review{
        font-size: 1.7rem;
        margin: 0 3rem;
        padding: 2.4rem 1.8rem;
    }

    &__icon-left{
        font-size: 3.3rem;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .3;
    }

    &__icon-right{
        font-size: 3.3rem;
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: .3;
    }

    @include respond(tab-port){  
        padding: 3rem 10rem 5rem;
    }

    @include respond(phone){  
        padding: 1rem 6rem 3rem;
    }
}

