$color-grey-dark: rgb(84, 84, 84);
@import './Stylefiles/Mixin.scss';

html{
  font-size: 62.5%;

  @include respond(tab-land){  
    font-size: 56.25%;
  }

  @include respond(tab-port){
    font-size: 50%;
  }

  @include respond(big-desktop){
    font-size: 75%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  color: $color-grey-dark;
  box-sizing: border-box;
}



